 <div class="container" > 
  <h2><%= t('sign_up') %></h2>

  <%= form_with(model: @worker, url: registration_path(resource_name)) do |f| %>
    <%= render "workers/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class:'form-label' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :password, class:'form-label'%>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>
    <hr>

    <h4> <%= t('company_date') %></h4>
    <div class="field">
      <%= f.label :cnpj, class:'form-label'%><br />
      <%= f.text_field :cnpj, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :corporate_name, class:'form-label' %><br />
      <%= f.text_field :corporate_name, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :billing_email, class:'form-label' %><br />
      <%= f.text_field :billing_email, class:"form-control" %>
    </div>
    <hr>

    <h4> <%= t('billing_address') %></h4>
    <div class="field">
      <%= f.label :country, class:'form-label' %><br />
      <%= f.text_field :country, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :zip_code, class:'form-label' %><br />
      <%= f.text_field :zip_code, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :state, class:'form-label' %><br />
      <%= f.text_field :state, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :city, class:'form-label' %><br />
      <%= f.text_field :city, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :street, class:'form-label' %><br />
      <%= f.text_field :street, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :house_number, class:'form-label' %><br />
      <%= f.text_field :house_number, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :complement, class:'form-label' %><br />
      <%= f.text_field :complement, class:"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit t('create_account'), class:"btn btn-outline-success btn-margin", style:"margin: 2% 0 5%" %>
    </div>
  <% end %>

  <div class="btn_back">
    <%= link_to t('back'), root_path, class:"btn btn-outline-primary" %>
  </div>
</div>
