<div class="container">
  <h2 style="margin-bottom:2%"><%= t("log_in") %></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit t('login'), class:"btn btn-outline-success", style:"margin: 2% 0 5% 0" %>
    </div>
  <% end %>
  <%= render "workers/shared/links" %>

  <div class="btn_back">
    <%= link_to t('back'), root_path, class:"btn btn-outline-primary" %>
  </div>
</div>

