<h3><%= t('.payment_methods') %></h3>

<p>
  <%= link_to  t('.add_billet_method'), new_workers_payment_method_path({type: 'billet'}) %> | 
  <%= link_to  t('.add_card_method'), new_workers_payment_method_path({type: 'card'}) %> | 
  <%= link_to  t('.add_pix_method'), new_workers_payment_method_path({type: 'pix'}) %>
</p>

<% @payment_methods.each do |payment_method| %>
  <p>
    <%= payment_method.name %> | 
    Taxa cobrança: <%= payment_method.tax_charge %>% | 
    Taxa max: <%= payment_method.tax_max %>% | 

    <% if payment_method.class.to_s == 'BilletMethod' %>
      Código do banco: <%= payment_method.code_bank %> | 
      Agência: <%= payment_method.agency_bank %> | 
      Conta: <%= payment_method.account_number %>
    <% elsif payment_method.class.to_s == 'CardMethod' %>
      Código do banco: <%= payment_method.code %>
    <% elsif payment_method.class.to_s == 'PixMethod' %>
      Código do banco: <%= payment_method.code_bank %> | 
      Código Pix: <%= payment_method.code_pix %>
    <% end %>
  </p>

  <%= link_to t('.edit'), edit_workers_payment_method_path({id: payment_method.id,
                                                            type: payment_method.class
                                                            .to_s.downcase
                                                            .delete_suffix('method')}) %>
  <hr>
<% end %>
