<%= link_to  root_path do%>
  <h2>PayNow</h2>
<% end %>

<% if worker_signed_in? %>
  <p>
    <%= current_worker.email %> | 
    <%= link_to t('my_company'), workers_company_path(current_worker.company) %> | 

  <% if current_worker.admin?  %>
    <%= link_to t('manage_worker'), workers_access_path(current_worker) %> | 
  <% end %>

    <%= link_to t('logout'), destroy_worker_session_path, method: :delete %>
  </p>



<% elsif admin_signed_in? %>
  <p>
    <%= current_admin.email %> | 
    <%= link_to 'Dashboard', admins_manages_path %> | 
    <%= link_to t('logout'), destroy_admin_session_path, method: :delete %>
  </p>
<% else %>
  <p>
    <%= link_to t('register'), new_worker_registration_path %> | 
    <%= link_to t('login_account'), new_worker_session_path %>
  </p>
<% end %>
<hr>
