<h3><%= t('company_data') %></h3>
<hr>

<h4>
  <%= @company.corporate_name %>
</h4>
<br>

<p>
  Token:
  <span id='company_token'>
    <%= @company.token %>
  </span>

  <% if current_worker.admin? %>
    <%= button_to t('.alter_token'), workers_company_alter_token_path,
                                     remote: true, method: :put,
                                     data: { confirm: t('.confirm_alter_token') } %>
  <% end %>
</p>

<p>
  CNPJ: <%= @company.cnpj %>
</p>
