<div class="container">

  <%= form_with model: pix_method, local: true do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, class:"form-control" %>
    </p>

    <%= f.label :icon %>
      <%= f.text_field :icon, class:"form-control" %>
    </p>

    <p>
      <%= f.label :tax_charge %>
      <%= f.number_field :tax_charge, class:"form-control" %>
    </p>

    <p>
      <%= f.label :tax_max %>
      <%= f.number_field :tax_max, class:"form-control" %>
    </p>

    <p>
      <%= f.label :code_bank %>
      <%= f.text_field :code_bank, class:"form-control" %>
    </p>

    <p>
      <%= f.label :code_pix %>
      <%= f.text_field :code_pix, class:"form-control" %>
    </p>

    <p>
      <%= f.label :available %>
      <%= f.check_box :available %>
    </p>

    <p>
      <%= f.submit class:"btn btn-outline-primary" %>
    </p>
  <% end %>
</div>