<p><%= link_to t('back'), pix_methods_path %></p>

<h3><%= t('.details')%></h3>

<p>
  <%= @pix_method.name %>
</p>

<p>
  <%= @pix_method.icon %>
</p>

<p>
  <%= @pix_method.tax_charge %>
</p>

<p>
  <%= @pix_method.tax_max %>
</p>

<p>
  <%= @pix_method.code_bank %>
</p>

<p>
  <%= @pix_method.code_pix %>
</p>

<p>
  <%= @pix_method.available? ? t('.available') : t('.unavailable') %>
</p>
