<div class="container">
  <p>
    <%= link_to t('back'), product_path(@product), class:"btn btn-outline-primary" %>
  </p>

  <%= render "workers/shared/error_messages", resource: @discount %>
  <br>
  <h4><%= t('.add_discount') %></h4>
  <br>
  <%= form_with model: @discount, local: true do |f| %>
    <p>
      <%= f.label :amount %>
      <%= f.text_field :amount, class:"form-control" %>
    </p>

    <p>
      <%= f.label :payment_type %>
      <%= f.select :payment_type, @payment_methods, class:"btn btn-outline-success" %>
    </p>

    <p>
      <%= f.hidden_field :id, value: @product.id %>
    </p>

    <p>
      <%= f.submit class:"btn btn-outline-success" %>
    </p>
  <% end %>
</div>
