<%= render "workers/shared/error_messages", resource: @discount %>

<p><%= link_to t('back'), product_path(@product) %></p>

<h4><%= t('.add_discount') %></h4>

<%= form_with model: @discount, local: true do |f| %>
  <p>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </p>

  <p>
    <%= f.label :payment_type %>
    <%= f.select :payment_type, @payment_methods %>
  </p>

  <p>
    <%= f.hidden_field :id, value: @product.id %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
