<div class="container">

  <h3><%= t('.product') %></h3>

  <h4>
    <%= @product.product_name %>
  </h4>

  <p>
    <%= t('.price') %>: 
    <%= number_to_currency(@product.product_price, unit: "R$", separator: ",", delimiter: ".", format: "%n %u")%>
  </p>

  <p>
    Token: <%= @product.token %>
  </p>

  <p>
    <%= link_to t('.add_discount'), new_discount_path({ id: @product.id }), class:"btn btn-outline-success" %>
  </p>

  <% if @product.discounts.any? %>
    <% @product.discounts.each do |discount| %>
      <p>
        <%= t('.payment_method') %>: <%= discount.payment_type %>
      </p>
      <p>
        <%= t('.discount') %>: <%= number_to_percentage(discount.amount, precision: 2) %>
      </p>
    <% end %>
  <% else %>
      <%= t('.no_discounts')%>
  <% end %>

  <p>
    <%= link_to t('back'), products_path, class:"btn btn-outline-primary" %>
  </p>
</div>